[package]
name = "monero-rpc"
description = "RPC client for Monero daemon and wallet"
version = "0.1.0"
authors = ["Artem Vorotnikov <artem@vorotnikov.me>"]
repository = "https://github.com/monero-ecosystem/monero-rpc-rs"
edition = "2018"
license = "MIT OR Apache-2.0"
keywords = ["asynchronous", "net"]

[badges]
maintenance = { status = "actively-developed" }

[dependencies]
chrono = { version = "0.4", features = ["serde"] }
fixed-hash = "0.6"
hex = "0.4"
http = "0.2"
jsonrpc-core = "15"
log = "0.4"
monero = { version = "0.10", features = ["serde_support"] }
reqwest = { version = "0.10", features = ["json"] }
serde = { version = "1", features = ["derive"] }
serde_json = "1"
snafu = "0.6"
uuid = { version = "0.8", features = ["v4"] }
