[package]
name = "monero-rpc"
version = "0.1.0"
authors = ["Artem Vorotnikov <artem@vorotnikov.me>"]
edition = "2018"
keywords = ["asynchronous", "net"]
license = "Apache-2.0"
repository = "https://github.com/monero-ecosystem/monero-rpc-rs"
description = "RPC client for Monero daemon and wallet"

[dependencies]
anyhow = "1"
chrono = { version = "0.4", features = ["serde"] }
fixed-hash = "0.7"
hex = "0.4"
http = "0.2"
jsonrpc-core = "18"
monero = { version = "0.15", features = ["serde_support"] }
reqwest = { version = "0.11", features = ["json"] }
serde = { version = "1", features = ["derive"] }
serde_json = "1"
tracing = "0.1"
uuid = { version = "0.8", features = ["v4"] }
