[package]
name = "monero-rpc"
version = "0.1.0"
authors = ["Artem Vorotnikov <artem@vorotnikov.me>", "Monero Rust Contributors"]
edition = "2018"
exclude = ["/test"]
keywords = ["asynchronous", "net"]
license = "Apache-2.0"
repository = "https://github.com/monero-ecosystem/monero-rpc-rs"
rust-version = "1.56.1"
description = "RPC client for Monero daemon and wallet"

[dependencies]
anyhow = "1"
chrono = { version = "0.4", features = ["serde"] }
fixed-hash = "0.7"
hex = "0.4"
http = "0.2"
jsonrpc-core = "18"
monero = { version = "0.17", features = ["serde"] }
reqwest = { version = "0.11", features = ["json"] }
serde = { version = "1", features = ["derive"] }
serde_json = "1"
tracing = "0.1"
uuid = { version = "1.1", features = ["v4"] }

[dev-dependencies]
# Async
rand = "0.8.4"
tokio = { version = "1.12.0", features = ["full"] }
