on:
  pull_request:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        monero: [ 0.18.1.2, 0.18.2.2, 0.18.3.1, 0.18.3.3, 0.18.3.4 ]

    steps:
      - uses: actions/checkout@v5

      - name: Spin up containers
        run: docker compose -f tests/docker-compose.yml up -d
        env:
          MONERO_VERSION: ${{ matrix.monero }}

      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable

      - run: cargo test --workspace --all-features
